<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /ggp
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /ggp/index.html [L]
</IfModule>
